form {
  background-color: skyblue;
  padding: 24px;
}

input {
  padding: 3px;
  box-shadow: 3px 3px 5px grey;
  font-size: 14px;
  font-weight: 600;
  min-width: 300px;
  margin: 8px;
}

label {
  color: #B4886B;
  font-weight: bold;
  display: block;
}

input[type=submit], button {
  padding: 10px;
  border: 1px solid gray;
  background-color:darkslateblue;
  border-radius: 5px;
  font: inherit;
  color: white;  
  font-weight: bold;
}

.WholePage{  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}